@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right) {
        width: 280px !important;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
        left: 280px!important;
    }   

}

.carousel-indicators {
    position: absolute !important;
    top: -30px !important;
    bottom: unset !important;
}

.carousel-control {
    position: absolute !important;
    top: -32px !important;
    bottom: unset !important;
}

.carousel-control.left {
    position: absolute !important;
    left: -100px;
}

.carousel-control.right {
    position: absolute !important;
    right: -100px;
}

.carousel-indicators .active {
    background-color: #3c8dbc !important;
}

.carousel-indicators li {
    border: 1px solid #3c8dbc !important;
}

.bold {
    font-weight: bold;
}

.p-l-30 {
    padding-left: 30px;
}

.p-t-12 {
    padding-top: 12px;
}

.lock_unlock, .schedule_phc, .open_product_list {
    cursor: pointer;
}

.tooltip-inner {
    max-width: inherit;
}

.product_list_class {
    text-align: left; 
    padding: 10px; 
    border-bottom: 1px solid #666666;
}


.request_palete_bell, .request_palete_wait, .palete_edit_checks {
    cursor: pointer;
}

i.watch_product_img {
    cursor: pointer;
}
i.watch_product_img ~ div{
    display: none;
}

i.watch_product_img:hover ~ div{
    display: inline;
    position: absolute;
    background: white;
    padding: 10px;
    margin-left: 10px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    border-radius: 10px;

}

i.watch_product_img:hover ~ div > div{
    display: inline-block;
}

i.watch_product_img:hover ~ div > div> span img{
    max-width: 200px;
    padding: 10px;
}

i.watch_product_img:hover ~ div > div > i{
    color: #000000;
    padding: 10px;
    display: block;
}   

.wp-normal {
    white-space: normal;
}